.tittle{
    margin-top: 20px;
    margin-bottom: 5px;
}

.border-col {
    border: 1px solid #dee2e6!important;
    margin-right:-1px; margin-bottom:-1px;
}

@media (max-width: 600px) { 
  .tittle{
    margin-top: 0px;
  }

  .border-col{
    margin: 8px;
  }

  .product-info{
    margin-bottom:5px;
  }
}

